@import "../../colors";
.wrap {

  .button {
    height: 40px;

    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;

    background-color: $black-color;
  }
}
.message {
  font-size: 0.85rem;
  color: $grey-main-color;
}
.input {
  input {
    height: 40px;
    padding: 0 0.5rem;

    font-size: 11px;
    color: #c9c9c9;

    border-radius: 4px;
    background-color: #1e1e1e;

    &:active {
      color: #222222;
    }

    &:hover {
      color: #222222;
    }
  }
}